@charset "UTF-8";
:root {
  --font-family-main: "Roboto", sans-serif;
  --font-family-logo: "Raleway";
  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --button-text-color:#fff;
  --button-active: #188ce8;
  --hero-title-color: #fff;
  --hero-bcc: #c4c4c4;
  --team-section-color: #f5f4fa;
  --team-list-color:#fff;
  --nav-link-color:#212121;
  --header-border-color:#ECECEC;
  --contacts-link-color:#757575;
  --mobile-nav-list__link-color:#212121;
  --border-color: #eeeeee;
  --border-header: #ececec;
  --link-color: #afb1b8;
  --link-active-color-text: #fff;
  --link-footer-color:#fff;
  --logo-footer-color:#fff;
  --address__link-color: rgba(255, 255, 255, 0.6);
  --address__link-color-white:#fff;
  --subscribe__text-color:#fff;
  --link-backgound: #fff;
  --link-footer-background: rgba(255, 255, 255, 0.1);
  --portfolio-description-text: #ffffff;
  --portfolio-description-backgound: rgba( 33,150,243,0.9 );
  --modal-background:#fff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --benefits-background-color: #F5F4FA;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

input {
  padding: 0px;
}

body {
  background-color: var(--white);
  color: var(--text-color);
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.title {
  color: var(--title-color);
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 50px;
  }
}

.social-list {
  gap: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: color var(--transition), background var(--transition);
}

.social-list__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: var(--font-family-logo);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: inherit;
}

.button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--button-text-color);
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background var(--transition);
}
.button:hover, .button:focus {
  background-color: var(--button-active);
}

.close-modal, .button_flex, .clients-list__link, .clients-list, .work-list__overlay, .work-list, .social-list, .social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo--header {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 93px;
  }
}

.logo__text {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header__navigation {
    display: flex;
    align-items: center;
  }
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    gap: 50px;
  }
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    transition: color var(--transition);
    color: var(--nav-link-color);
  }
  .nav-list__link:hover {
    color: var(--accent-color);
  }
  .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__current {
    position: relative;
    color: var(--accent-color);
  }
  .nav-list__current::after {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .nav-list__current::after {
    bottom: -5px;
    left: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--contacts-link-color);
    transition: color var(--transition);
  }
  .contacts-list__link:focus {
    color: var(--accent-color);
  }
  .contacts-list__link:focus:hover {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__icon {
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacs-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacs-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-list__link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .contacts-list__link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-bcc);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/phone/background/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 480px;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/phone/background/background_2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/tablet/background/background.jpg");
    background-size: 768px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/background/background_2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decktop/background/background.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decktop/background/background_2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px;
  }
}

.hero__title {
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}

.button_hero {
  width: 216px;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .button_hero {
    padding: 10px 32px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits-list__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: start;
  }
}

.background {
  display: flex;
  background-color: var(--benefits-background-color);
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.background__icon {
  width: 65px;
  height: 70px;
}

.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-list {
  gap: 30px;
}

.work-list__item {
  position: relative;
  width: 370px;
}

.work-list__overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-section-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__item {
  background-color: var(--team-list-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__box {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.position {
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.position__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}

.position-duties {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}

.social-list__link--light {
  color: var(--link-color);
  background-color: var(--link-backgound);
}
.social-list__link--light:hover, .social-list__link--light:focus {
  color: var(--link-active-color-text);
  background-color: var(--accent-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  height: 92px;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  color: var(--link-color);
  transition: color var(--transition), border-color var(--transition);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: 1px var(--accent-color);
  color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.logo_color-white {
  color: var(--logo-footer-color);
}

.logo--bottom-margin {
  margin-bottom: 20px;
}

.footer__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__info {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrapper {
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-right: 60px;
  }
}

.address {
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .address__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--white {
  color: var(--address__link-color-white);
}

.address__link--grey {
  color: var(--address__link-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-social__text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.social-link--dark {
  color: var(--link-footer-color);
  background-color: var(--link-footer-background);
  transition: background var(--transition);
}
.social-link--dark:hover, .social-link--dark:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__box {
    display: flex;
  }
}

.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--subscribe__text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__text {
    margin-right: auto;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}
@media screen and (max-width: 320px) {
  .subscribe__input {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__input::placeholder {
  padding: 15px 16px;
}
@media screen and (max-width: 767px) {
  .subscribe__input {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button_padding-subscribe {
    height: 50px;
    margin-left: 12px;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

@media screen and (min-width: 1200px) {
  .subscribe__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  min-width: 326px;
  margin-bottom: 30px;
}
@media screen and (max-width: 320px) {
  .button-list {
    min-width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-list__buttons {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: background var(--transition), color var(--transition), box-shadow var(--transition);
}
.button-list__buttons:hover, .button-list__buttons:focus {
  color: var(--link-active-color-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .gallery-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list__item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .gallery-list__item:last-child {
    margin-right: auto;
  }
}

.gallery-list__link {
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: 16px;
  line-height: 1.8;
  height: 100%;
}
.gallery-list__link:hover, .gallery-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.gallery-list__title-box {
  flex-grow: 1;
  padding: 20px 24px;
  background-color: var(--white);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.gallery-list__overlay-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--portfolio-description-text);
}

.gallery-list__overlay-box {
  position: relative;
  overflow: hidden;
}

.gallery-list__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  transform: translateY(102%);
  transition: transform var(--transition);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  background: var(--portfolio-description-backgound);
  background: var(--portfolio-description-backgound);
}
.gallery-list__link:hover .gallery-list__overlay, .gallery-list__link:focus .gallery-list__overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform var(--transition);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 451px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--modal-background);
  color: rgb(0, 0, 0);
  transition: fill var(--transition);
}

.close-modal:hover .icon-close,
.close-modal:focus .icon-close {
  fill: var(--accent-color);
}

/* форми */
.modal-text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-form {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.input-box {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.form-input:focus {
  border-color: var(--accent-color);
}

.icon-box {
  position: relative;
}

.icon-input {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill var(--transition), transform var(--transition);
}
.form-input:focus + .icon-input {
  fill: var(--accent-color);
}

.form-input:focus + .modal-icon-man {
  transform: translate(20px, -35px);
}

.form-input:focus + .modal-icon-phone {
  transform: translate(40px, -35px);
}

.form-input:focus + .modal-icon-mail {
  transform: translate(30px, -35px);
}

.text-area {
  display: block;
  width: 100%;
  min-height: 120px;
  overflow: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
}
.text-area:focus {
  outline: none;
  border-color: var(--accent-color);
}
.text-area::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-box {
  margin-bottom: 32px;
}

.checkbox-lable-wrapper {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-left: 7px;
}
@media screen and (max-width: 455px) {
  .checkbox-lable-wrapper {
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
  }
}

.checkbox-lable {
  letter-spacing: 0.03em;
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  justify-content: center;
}

.policy-link {
  color: var(--accent-color);
  position: relative;
}

.policy-link::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.checkbox-origin {
  appearance: none;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox-origin:checked + .custom-checkbox {
  border: solid var(--accent-color);
  background-color: var(--accent-color);
}
.checkbox-origin:focus + .custom-checkbox {
  box-shadow: 0 0 0 1px var(--accent-color);
}

.custom-checkbox-icon {
  display: none;
}
.checkbox-origin:checked + .custom-checkbox .custom-checkbox-icon {
  display: block;
}

.button_padding-send {
  padding: 10px 52px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contacs-list {
    display: none;
  }
  .mobile-menu-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu-burger-icon {
    width: 24px;
    height: 16px;
    fill: #212121;
  }
  .mobile-menu-button:focus .menu-burger-icon {
    fill: var(--accent-color);
  }
  .mobile-menu-button:hover .menu-burger-icon {
    fill: var(--accent-color);
  }
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition), visibility var(--transition);
    padding: 40px;
  }
  .mobile-menu-close-button {
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .icon-menu-close-button {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
  .mobile-menu-close-button:focus .icon-menu-close-button {
    fill: var(--accent-color);
  }
  .mobile-menu-close-button:hover .icon-menu-close-button {
    fill: var(--accent-color);
  }
  .mobile-menu__container {
    display: flex;
    padding-left: 40px;
    padding-bottom: 48px;
    width: 100%;
    height: 100%;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .mobile-nav-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--mobile-nav-list__link-color);
    transition: color var(--transition);
  }
  .mobile-nav-list__link:hover {
    color: var(--accent-color);
  }
  .mobile-nav-list__link:focus {
    color: var(--accent-color);
  }
  .mobile-contact-list__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(---mobile-contact-color);
  }
  .mobile-contact-list__link:hover {
    color: var(--accent-color);
  }
  .mobile-contact-list__link:focus {
    color: var(--accent-color);
  }
  .mobile-contact-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact-list__link_tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) and (max-width: 445px) {
  .mobile-contact-list__link_tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (max-width: 767px) {
  .mobile-social-list {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .mobile-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) and (max-width: 445px) {
  .mobile-social-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 0.8571428571;
  }
}
@media screen and (max-width: 767px) {
  .mobile-social-list__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 767px) {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}/*# sourceMappingURL=main.css.map */